body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vid{
  z-index: -1000000;
  opacity: 0.7;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#Notes{
  background-color: rgba(119, 136, 153, 0.595);
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#DisplayNoteTitle{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container{
  display: flex;
  padding: 2px;
  justify-content: space-around;
  align-items: center;
}
.div-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
}
.board{
  padding: 10px;
  height: 50vh;
  width: 50vh;
  align-items: center;
  justify-content: center;
}
.tile{
    display: flex;
    border: 3px;
    border-radius: 1px;
    border-color: white;
    border-style: dashed;
    padding: 2px;
    width: 30%;
    height: 100%;
    margin: 1px;
    align-items: center;
    justify-content: center;
}
.tilegroup{
  display: flex;
  height: 33%;
  align-items: center;
  justify-content: center;
}

.transparent{
  opacity: 70%;
}

#Result_section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.453);
  padding: 5px;
}